body{
    
    background-color: #b8e994;
}
#headerSection{
    padding: 10px;
    font-style:initial;

}
#headerSection h1{
    font-size: 24px;
}
input{
    padding:10px;
    border-radius:5px;
}
#dropbox{
    padding:10px;
    border-radius:5px;
    width:15%;
}
#loginbtn{
    padding:10px;
    border-radius:5px;
    background-color: #48dbfb;
    color: white;
}